{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="bg-gray-200 font-sans leading-normal tracking-normal">

        <!--Nav-->
        {% include 'partials/navbar.html' %}
        
        {% block navbar %}
        {% endblock navbar %}
        <!-- End Nav -->
        <!-- Container -->
        <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">

            <!-- Content -->
            <div class="w-full lg:w-4/5 px-2">
                {% block content %}
                {% endblock %}
            </div>
            <!-- End Content -->

        </div>
        <!-- End Container-->

<!-- Footer -->
<div class="fixed bottom-0 w-full">
    {% include 'partials/footer.html' %}
    {% block footer %}
    {% endblock footer %}
</div>
<!-- End Footer -->

    </body>

</html>