{% extends 'censor_app/base.html' %} {% block content %}
<h1 class="text-3xl font-bold mb-8">Censorer</h1>
<div class="grid gap-4 grid-cols-3">
  {% for censor in censors %}
  <div class="bg-white shadow-lg rounded-lg px-4 py-6">
    <h2 class="text-xl font-medium mb-2">{{ censor.navn }}</h2>
    <p class="text-gray-600 mb-4 italic">{{ censor.email }}</p>
    <p class="text-gray-600">{{ censor.skole }}</p>
    <a
      href="{% url 'censor_detail' censor.pk %}"
      class="inline-block mt-4 py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg"
      >View Details</a
    >
  </div>
  {% empty %}
  <p>No exams yet.</p>
  {% endfor %}
</div>
{% endblock %}
