{% extends 'censor_app/base.html' %} {% block content %}
<div class="flex justify-between items-center mb-8">
  <h1 class="text-3xl font-bold">Eksamen</h1>
  <a
    href="{% url 'eksamen_create' %}"
    class="bg-green-500 text-white px-4 py-2 rounded-lg"
    >Opret Eksamen</a
  >
</div>
<div class="grid gap-4 grid-cols-3 mb-40">
  {% for eksamen in eksamener %}
  <div class="bg-white shadow-lg rounded-lg px-4 py-6">
    <a href="{% url 'eksamen_detail' eksamen.pk %}">
      <h2 class="text-xl font-medium mb-2">{{ eksamen.navn }}</h2>
      <p class="text-gray-600 mb-4 italic">{{ eksamen.dato }}</p>
      <p class="text-gray-600">{{ eksamen.skoleklasse }}</p>
      <p class="text-gray-600">Lærer: {{ eksamen.lærer }}</p>
      {% if not eksamen.censor %}
      <p class="text-gray-600">
        <span>Censor:</span>
        <span class="underline text-red-500">Ikke tilknyttet</span>
      </p>
      {% else %}
      <p class="text-gray-600">Censor: {{ eksamen.censor }}</p>
      {% endif %}
    </a>
  </div>
  {% empty %}
  <p>No exams yet.</p>
  {% endfor %}
  <br />
  <div></div>
  <div>
    Bare for en demo:
    <a href="http://127.0.0.1:8000/2023/3/">Month view marts 2023</a>
  </div>
</div>
{% endblock %}
