{% extends 'censor_app/base.html' %}

{% block content %}
<h2>Exams</h2>
<a href="{% url 'exam_create' %}">Create Exam</a>
<table>
    <thead>
        <tr>
            <th>Exam Name</th>
            <th>Exam Date</th>
            <th>School Class</th>
            <th>Teacher</th>
            <th>Censor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.exam_name }}</td>
            <td>{{ exam.exam_date }}</td>
            <td>{{ exam.school_class }}</td>
            <td>{{ exam.teacher }}</td>
            <td>{{ exam.censor }}</td>
            <td><a href="{% url 'exam_update' exam.pk %}">Edit</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No exams</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}