<!-- censor_app/school_class_list.html -->
{% extends 'censor_app/base.html' %} {% block content %}
<h1 class="text-3xl font-bold mb-8">Klasser</h1>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
  {% for school_class in school_classes %}
  <div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-semibold mb-4">{{ school_class.name }}</h2>
    <p class="text-gray-600 mb-2">{{ school_class.school }}</p>
    <p class="text-gray-600 mb-2">{{ school_class.teachers }}</p>
    <a href="#" class="text-indigo-600 hover:text-indigo-800">View details</a>
  </div>
  {% empty %}
  <p class="text-gray-600"><li>Der er ingen klasser på denne skole</li></p>
  {% endfor %}
</div>
{% endblock %}
