{% extends 'censor_app/base.html' %}

{% block content %}
<h1>{{ skole.navn }}</h1>
<p>Adresse: {{ skole.addresse }}</p>
<p>Lærere:</p>
<ul>
    {% for lærer in skole.personale.all %}
    <li>{{ lærer.navn }}</li>
    {% endfor %}
</ul>
<p>Censorer:</p>
<ul>
    {% for censor in skole.censors.all %}
    <li>{{ censor.navn }}</li>
    {% endfor %}
</ul>
<p>Klasser:</p>
<ul>
    {% for skoleklasse in skole.skoleclass_set.all %}
    <li><a href="{% url 'class_detail' skoleklasse.id %}">{{ skoleklasse.navn }}</a></li>
    {% endfor %}
</ul>
{% endblock %}